html{
    box-sizing: border-box;
    margin: 0;
    background-color: aliceblue;
}

#container{
    background-color: rgb(0, 0, 255);
    color: white;
    width: 400px;
    height: 500px;
    margin: 50px auto;
    padding-top: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px blue;
}

#buttons-wrapper{
  
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 40px;
    margin: 5px;
    background-color: rgb(209, 255, 255);
    font-family: system-ui, -apple-system, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

#score-section{
    background-color: rgba(0, 0, 0, 0.61);
    width: 350px;
    height: 300px;
    margin: auto;
    margin-top: 30px;
    padding-top: 2px;
    border-radius: 10px;

}

.score {
    background-color: rgb(255, 255, 202);
    color: black;
    text-align: center;
    width: 120px;
    height:30px;
    margin: auto;
    font-size: 22px;
    font-weight: 800;
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 20px;
   
    border-radius: 5px;
}

#board-items{
    display: flex;
    justify-content: space-around;
}

.separator {
    border-right: 1px dashed white;
    height: 170px;
    
}

.computer-score, .player-score {
    height: 120px;
    width: 110px;
    background-color: rgb(255, 255, 178);
    color: black;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 90px;
    font-weight: 900;
    text-align: center;
    
}

.player, .computer {
    text-align: center;

    
}